.reload-button {
	background-color: lightgray;
	border: none;
	color: black;
	padding: 5px 10px;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	border-radius: 4px;
}
.reload-button:hover {
	background-color: darkgrey;
}
