.top-section {
  padding: 10px;
  background-color: #f0f0f0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-page {
  display: flex;
  flex-direction: row;
  height: 100vh;
}
.main-page {
  display: flex;
  height: 100vh;
}

.left-section {
  width: 100%;
  transition: width 0.3s;
}

.left-section.shrink {
  width: 70%;
}

.right-section {
  width: 30%;
  background-color: #f0f0f0;
  padding: 20px;
  border-left: 1px solid #ddd;
  position: relative;
}
.bottom-section {
  height: 90%;
  display: flex;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}
