.flyout {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f0f0f0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

.flyout button, a {
  background-color: lightgray;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 4px;
  color: black;
}

.flyout button:hover, a:hover {
  background-color: darkgrey;
  color: black;
}
