.flyout {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

.flyout button, .flyout a {
  background-color: lightgray;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 4px;
  color: black;
}

/* Light Theme */
.flyout.theme-light {
  background-color: #f0f0f0;
}

.flyout button.theme-light, .flyout a.theme-light {
  background-color: lightgray;
  color: black;
}

.flyout button.theme-light:hover, .flyout a.theme-light:hover {
  background-color: darkgrey;
  color: black;
}

/* Dark Theme */
.flyout.theme-dark {
  background-color: #444
}

.flyout button.theme-dark, .flyout a.theme-dark {
  background-color: #555;
  color: white;
}

.flyout button.theme-dark:hover, .flyout a.theme-dark:hover {
  background-color: #777;
  color: white;
}
