#root {
	max-width: 1280px;
	min-width: 90vw;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

.app {
	display: flex;
	flex-direction: column;
	height: 100vh;
}
.top-section {
	padding: 10px;
	background-color: #f0f0f0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.error-button {
	background-color: indianred;
	border: none;
	color: black;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	cursor: pointer;
	border-radius: 4px;
}
.error-button:hover {
	background-color: darkred;
}
